.gradle
/local.properties
.DS_Store
/build
/captures
**.iml
/.idea
app/.idea/misc.xml
app/.idea/modules.xml
app/.idea/copyright/profiles_settings.xml
app/.idea/runConfigurations.xml
app/.idea/vcs.xml
app/.idea/workspace.xml
